*.bak
*.png
*.jpj
*.svg
*.jpeg
*.png
*.pt
*.bmp
*.tmp
*.idea
*CMakeList.txt
/robot/.git.bak.tar.gz
**/datasets/
cmake-build-*/
/robot/src/model/url_tool/datasets/
/robot/src/model/train/src/
/robot/src/model/url_tool/
/robot/gazebo/world_model/
/robot/ros2_ws/
/robot/src/dp_api/key_json/dp_config.json
