*.bak
*.png
*.jpj
*.svg
*.jpeg
*.png
*.pt
*.bmp
*.tmp
*.idea
/robot/.git.bak.tar.gz
**/datasets/
cmake-build-*/
/robot/src/model/url_tool/datasets/
/robot/src/model/train/src/
/robot/src/model/url_tool/
/robot/gazebo/world_model/