*.bak
*.png
*.jpg
*.svg
*.jpeg
*.png
*.pt
*.bmp
*.tmp
*.idea
*CMakeList.txt
/workspace/.git.bak.tar.gz
**/datasets/
cmake-build-*/
/workspace/src/model/url_tool/datasets/
/workspace/src/model/train/src/
/workspace/src/model/url_tool/
/workspace/gazebo/world_model/
/workspace/ros2_ws/
/workspace/src/dp_api/key_json/dp_config.json
/QRP/dp_record/
/workspace/dataclume/user/
/workspace/dataclume/
/QRS/images/
